[Desktop Entry]
Type=Application
Name=Simple Terminal
GenericName=Simple Terminal
Comment=Suckless terminal emulator for X
Icon=utilities-terminal
Exec=st 
Categories=System;TerminalEmulator
Encoding=UTF-8
Keywords=shell;prompt;command;commandline;cmd;terminal;st;
