[Desktop Entry]
Type=Application
Name=Simple Terminal
GenericName=Terminal
Comment=Suckless terminal emulator for X
Icon=utilities-terminal
Exec=st --geometry: 165x45+177+103
Categories=System;TerminalEmulator
Encoding=UTF-8
Keywords=shell;prompt;command;commandline;cmd;terminal;
